{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Портфель акций "{{ portfolio.name }}"</div>
                <div class="panel-body">
                    {% if portfolioShares is empty %}
                        <p>Портфель пуст.</p>
                    {% else %}
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-7">Акции</th>
                                    <th class="col-md-2"><i class="fa fa-pie-chart"></i> Процентная доля</th>
                                    <th class="col-md-3"><i class="fa fa-cogs"></i> Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for portfolioShare in portfolioShares %}
                                    <tr>
                                        <td>{{ portfolioShare.share.name }}</td>
                                        <td>{{ portfolioShare.proportion * 100 }}%</td>
                                        <td>
                                            <div class="pull-right">
                                                <form action="{{ path('share_delete', {'portfolioId': portfolioShare.portfolio.id, 'shareId': portfolioShare.share.id}) }}" method="POST">
                                                    <input type="hidden" name="_method" value="DELETE" />
                                                    <a href="{{ path('share_edit', {'portfolioId': portfolioShare.portfolio.id, 'shareId': portfolioShare.share.id}) }}" class="btn btn-info">
                                                        <i class="fa fa-edit"></i> Редактировать
                                                    </a>
                                                    <button type="submit" class="btn btn-warning">
                                                        <i class="fa fa-trash"></i> Удалить
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div>
                        <a href="{{ path('share_add', {'id': portfolio.id}) }}" class="btn btn-success {{ totalProcents == 1 or allShares|length == 0 ? 'disabled' : '' }}">
                            <i class="fa fa-plus"></i> Добавить акции
                        </a>
                        <button id="calc" class="btn btn-success {{ totalProcents == 1 ? '' : 'disabled' }}" {{ totalProcents == 1 ? '' : 'disabled' }}>
                            <i class="fa fa-calculator"></i> Рассчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default hidden" id="chart-panel">
                <div class="panel-heading">График доходности</div>
                <div class="panel-body">
                    <div id="charts"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/charts.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/highcharts-5.0.10.js') }}"></script>
    <script src="{{ asset('js/highcharts-5.0.10-exporting.js') }}"></script>
    <script>
        $('#calc').click(function () {
            $( "#chart-panel" ).removeClass( "hidden" );

            Highcharts.chart('charts', {

                title: {
                    text: ''
                },

                xAxis: {
                    type: 'datetime',
                    min: Date.UTC(2015, 05, 1),
                    max: Date.UTC(2017, 05, 1),
                    labels: {
                        step: 1,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Arial,sans-serif'
                        }
                    },
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%b \'%y',
                        year: '%Y'
                    },
                    tickInterval: 30 * 24 * 3600 * 1000,
                },

                yAxis: {
                    title: {
                        text: 'Доходность, %'
                    }
                },
                legend: {
                    enabled: false,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                tooltip: {
                    headerFormat: '<b>{series.name}: </b>',
                    pointFormat: '{point.y}%'
                },

                series: [{
                    name: 'Доходность',
                    data: [
                        {% for key, item in portfolioYield %}
                        [{{ key }}, {{ item }}],
                        {% endfor %}
                    ]
                }]

            });
        });
    </script>
{% endblock %}